@use '../../styles/sizes' as *;
@use '../../styles/colors' as *;
@use '../../styles/spacings' as *;

.input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  .content {
    box-sizing: border-box;
    position: relative;
    padding: 20px 0px 20px 0;
    .label {
      position: absolute;
      left: 0;
      color: $color-hint;
      top: 50%;
      transform: translateY(-50%);
      transition:
        top 150ms ease-out,
        transform 150ms ease-out,
        font-size 150ms ease-out;
    }
    .cross {
      box-sizing: border-box;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 5px 0 0;
      color: $color-text;
      cursor: pointer;
    }
    .field {
      box-sizing: border-box;
      margin: 0;
      padding: 0 25px 0 5px;
      border: 1px Solid rgba(0, 0, 0, 0);
      line-height: 2;
      outline: none;
      width: 100%;
      background-color: $color-bg;
      color: $color-text;
      box-shadow: 0 1px 0 0 $color-hint;
      transition: box-shadow 150ms ease-out;
      &:focus {
        box-shadow: 0 $size-separator-medium 0 0 $color-bg-button;
      }
      &:not(:placeholder-shown),
      &:focus {
        & + .label {
          top: 0;
          transform: translateY(0%);
          font-size: 0.75em;
        }
      }
      &:-webkit-autofill {
        &,
        &:hover,
        &:focus,
        &:active {
          transition-delay: 9999s;
          transition-property: $color-bg, color;
        }
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type='number'] {
        -moz-appearance: textfield;
      }
    }
    .error {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
