@use '../../styles/sizes' as sizes;
@use '../../styles/colors' as colors;
@use '../../styles/spacings' as spacings;
@use '../../styles/normalize' as normalize;

.button {
  background-color: $color-bg-button;
  color: $color-text-button;
  cursor: pointer;
  padding: $spacing-10;
  border-radius: $size-border-radius-medium;
  margin: $spacing-10 auto;
  font-family: $normalized_font_family;
}
