@use '../../styles/sizes' as sizes;
@use '../../styles/colors' as colors;
@use '../../styles/spacings' as spacings;
@use '../../styles/normalize' as normalize;

.wizard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.step {
  padding: $spacing-10;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: $spacing-10;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
