
$color-bg: var(--tg-theme-background-color, #17212b);
$color-bg-secondary: var(--tg-theme-secondary-background-color, #232e3c);
$color-bg-tertiary: rgba(235, 235, 235, 0.75);
$color-bg-quarternary: rgba(255, 255, 255, 0.16);
$color-bg-section: var(--tg-theme-section-background-color, #17212b);
$color-header-text-section: var(--tg-theme-section-header-text-color,#6ab3f3);
$color-bg-button: var(--tg-theme-button-color, #5288c1);
$color-text-header: var(--tg-header-color, #17212b);
$colot-bg-header: var(--tg-theme-header-background-color, #17212b);
$color-text: var(--tg-theme-text-color, #f5f5f5);
$color-subtitle: var(--tg-theme-subtitle-text-color, #708499);
$color-text-button: var(--tg-theme-button-text-color, #ffffff);
$color-text-destructive: var(--tg-theme-destructive-text-color, #ec3942);
$color-text-accent: var(--tg-theme-accent-text-color, #6ab2f2);
$color-hint: var(--tg-theme-hint-color, #708499);
$color-link: var(--tg-theme-link-color, #6ab3f3);
$skeleton-color: $color-bg-tertiary;
$separator-color: rgba(204, 204, 204, 0.36);
$color-overlay-floating: rgba(19, 19, 19, 0.79);
