$size-avatar-small: 28px;
$size-avatar-medium: 40px;
$size-avatar-big: 84px;

$size-border-radius-small: 8px;
$size-border-radius-medium: 10px;
$size-border-radius-big: 13px;

$size-separator-small: 1px;
$size-separator-medium: 3px;
$size-separator-big: 5px;

$viewport-height: var(--tg-viewport-height, 100dvh);
$viewport-width: var(--tg-viewport-width, 100dvw);
