@use '../../styles/sizes' as *;
@use '../../styles/colors' as *;
@use '../../styles/spacings' as *;

.inputError {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  padding: 0 5px;
  margin: 0;
  color: $color-text-destructive;
}
