@use '../../styles/sizes' as *;
@use '../../styles/colors' as *;
@use '../../styles/spacings' as *;

.mainButton {
  padding: 20px;
  color: #fff;
  background-color: $color-bg-button;

  font-size: 17px;
  font-family: system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
}
