@use '../../styles/sizes' as sizes;
@use '../../styles/colors' as colors;
@use '../../styles/spacings' as spacings;
@use '../../styles/normalize' as normalize;

.card {
  display: flex;
  margin: 0 0 $spacing-10 0;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.card > h2 {
  margin-bottom: 0;
}
