@use '../../styles/sizes' as *;
@use '../../styles/colors' as *;
@use '../../styles/spacings' as *;

.card {
  display: flex;
  margin: 0 0 $spacing-small 0;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.card > h2 {
  margin-bottom: 0;
}
